<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mi Perfil</title>
    {% include 'includes/head.html'%} {% block head %} {% endblock %}
</head>

<body>
    {% include 'includes/header.html'%} {% block header %} {% endblock %} {% include 'includes/navbar.html'%} {% block navbar %} {% endblock %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Datos del Paciente</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Registro <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
        <div class="container">
            <div class="row d-flex align-items-stretch no-gutters">
                <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                    <form action="/editarUsuario/" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <h4>Datos Principales</h4>
                            <label for="names">Nombres</label>
                            <input type="text" id="names" name="names" class="form-control" value='{{paciente.first_name}}' disabled>
                            <label for="lnames">Apellidos</label>
                            <input type="text" id="lnames" name="lnames" class="form-control" value='{{paciente.last_name}}' disabled>
                            <label for="id">Cedula</label>
                            <input type="text" id="id" name="id" class="form-control" value='{{paciente.identity_card}}' disabled>
                        </div>
                        <div class='form-group'>
                            <h4>Discapacidad</h4>
                            <div class="form-group">
                                <label>Tipo de Discapacidad</label>
                                <input type="text" id="tipoDiscapacidad" name="tipoDiscapacidad" class="form-control" value='{{ discapacidad.disability_type }}' disabled>
                            </div>
                            <div class='form-group'>
                                <label for="descripcion">Descripción de la Discapacidad</label>
                                <input type="text" id="descripcionDiscapacidad" name="descripcionDiscapacidad" class="form-control" value='{{ discapacidad.disability_description }}' disabled>
                            </div>
                            <label for="porcentaje"></label>
                            <input type="number" id="porcentaje" name="porcentaje" class="form-control" value='{{ discapacidad.disability_percentage }}' disabled>
                        </div>
                        <div class="form-group">
                            <h4>Información Regional</h4>
                            <input type="text" id="pais" name="pais" class="form-control" value='{{ paciente.country_origin }}' disabled>
                            <input type="text" id="provincia" name="provincia" class="form-control" value='{{ paciente.province }}' disabled>
                            <input type="text" id="canton" name="canton" class="form-control" value='{{ paciente.canton }}' disabled>
                            
                            <div class="form-group">
                                <label>Tipo de Parroquia</label>
                                <input type="text" id="parroquia" name="parroquia" class="form-control" value='{{ paciente.parish_type }}' disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4>Educación</h4>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                                        <strong>¡Error! </strong>{{ message }}.
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <label>Tipo de Educación</label>
                            <input type="text" id="edu1" name="edu1" class="form-control" value='{{ paciente.educational_institution_type }}' disabled>
                            <input type="text" id="edu2" name="edu2" class="form-control" value="{{ paciente.educational_institution}}" disabled>
                        </div>
                        
                        <div class="form-group">
                            <h4>Información Técnica</h4>
                            
                            {% if paciente.bond_desarrollo_humano == True %}
                                <label for="check1">- Bono de desarrollo humano</label><br>
                            {% endif %}
                            
                            {% if paciente.bond_joaquin_gallegos == True %}
                                <label for="check2">- Bono Joaquin Gallegos Lara </label><br>
                            {% endif %}
                            
                            {% if paciente.alimony == True %}
                                <label for="check3">- Pensión Alimenticia </label><br>
                            {% endif %}
                            
                            {% if paciente.jubilee_pension == True %}
                                <label for="check4">- Pensión Jubilar </label><br>
                            {% endif %}

                            {% if paciente.montepio == True %}
                                <label for="check5">- Montepio </label><br><br>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            
                        </div>
                    </form>
                </div>
                <!--<div class="col-md-6 d-flex align-items-stretch">
                    <div id="map"></div>
                </div>-->
            </div>
        </div>
    </section>

    {% include 'includes/footer.html'%} {% block footer %} {% endblock %}

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    {% include 'includes/js.html'%} {% block js %} {% endblock %}

</body>

</html>