<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registro</title>
    {% include 'includes/head.html'%} {% block head %} {% endblock %}
</head>

<body>
    {% include 'includes/header.html'%} {% block header %} {% endblock %} {% include 'includes/navbar.html'%} {% block navbar %} {% endblock %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Registrate en nuestro sistema</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Registro <i class="ion-ios-arrow-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
        <div class="container">
            <div class="row d-flex align-items-stretch no-gutters">
                <div class="col-md-6 p-4 p-md-5 order-md-last bg-light">
                    <form action="/registrar/" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <h4>Datos Principales</h4>
                            <input type="text" id="names" name="names" class="form-control" placeholder="Nombres" required>
                            <input type="text" id="lnames" name="lnames" class="form-control" placeholder="Apellidos" required>
                            <input type="text" id="id" name="id" class="form-control" placeholder="Cédula" required>
                            <input type="number" id="tel1" name="tel1" class="form-control" placeholder="Telefono Principal">
                            <input type="number" id="tel2" name="tel2" class="form-control" placeholder="Telefono Secundario">
                        </div>
                        <div class="form-group">
                            <h4>Dirección</h4>
                            <input type="text" id="dir1" name="dir1" class="form-control" placeholder="Calle Principal" required>
                            <input type="text" id="dir2" name="dir2" class="form-control" placeholder="Calle Secundaria" required>
                            <input type="text" id="dir3" name="dir3" class="form-control" placeholder="Número" required>
                            <input type="text" id="dir4" name="dir4" class="form-control" placeholder="Referencia" required>
                        </div>
                        <div class="form-group">
                            <h4>Datos Electrónicos</h4>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Correo Electrónico" required>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
                        </div>
                        <div class="form-group">
                            <h4>Información Básica</h4>
                            <label>Fecha de Nacimiento:</label>
                            <input type="date" id="birth" name="birth" required>
                        </div>
                        <div class="form-group">
                            <label>Sexo</label>
                            <select name="sex" id="sex" required>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Estado Civil</label>
                            <select name="status" id="status" required>
                                <option value="Soltero">Soltero</option>
                                <option value="Casado">Casado</option>
                                <option value="Divorciado">Divorciado</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </div>
                        <!--Hidden-->
                        <input type="hidden" id="rol" name="rol" value="RP">
                        <input type="hidden" id="job" name="job" value="Unknown">
                        <input type="hidden" id="degree" name="degree" value="Unknown">
                        <input type="hidden" id="bio" name="bio" value="Unknown">

                        <div class="form-group">
                            <input type="submit" value="Guardar" name="save" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
                <!--<div class="col-md-6 d-flex align-items-stretch">
                    <div id="map"></div>
                </div>-->
            </div>
        </div>
    </section>

    {% include 'includes/footer.html'%} {% block footer %} {% endblock %}

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    {% include 'includes/js.html'%} {% block js %} {% endblock %}

</body>

</html>