<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-5">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">{{ center_data.direction.main_street }} & {{ center_data.direction.secondary_street }} / sector {{ center_data.direction.reference }}</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">{{ center_data.phone_number_1}} / {{ center_data.phone_number_2}}</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{ center_data.email}}</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-3">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="/index.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Inicio</a></li>
                        <li><a href="/about.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Quienes Somos</a></li>
                        <li><a href="/information.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Nuestras terapias</a></li>
                        <li><a href="/contact.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Contáctanos</a></li>
                        <li><a href="/donations.html"><span class="ion-ios-arrow-round-forward mr-2"></span>Donaciones</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 col-lg-4">
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2">Registrarme!</h2>
                    <form action="/registro.html" class="subscribe-form">
                        <div class="form-group">
                            <input type="submit" value="Regístrate ahora" class="form-control submit px-3">
                        </div>
                    </form>
                </div>
                <div class="ftco-footer-widget mb-5">
                    <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-5">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | Template made by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>