<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <!--a class="navbar-brand" href="index.html">Kiddos</a-->
        <div class="block-21 mb-5 d-flex">
            <a href="index.html" class="logo-img blog-img mr-4 logo" style="background-image: url(../static/website/images/logo.png);"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/index.html" class="nav-link">Inicio</a></li>

                <li class="nav-item"><a class="nav-link">Comunidad</a>
                    <ul class="sub-menu">
                        <li class="nav-item"><a href="/tips.html" class="nav-link">Blog</a></li>
                        <li class="nav-item"><a href="/blog.html" class="nav-link">Foro</a></li>
                        <li class="nav-item"><a href="/training.html" class="nav-link">Capacitaciones</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link">Información</a>
                    <ul class="sub-menu">
                        <li class="nav-item"><a href="/disabilities.html" class="nav-link">Discapacidades</a></li>
                        <li class="nav-item"><a href="/directory.html" class="nav-link">Directorio</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link">Acerca de</a>
                    <ul class="sub-menu">
                        <li class="nav-item"><a href="/about.html" class="nav-link">Quienes Somos</a></li>
                        <li class="nav-item"><a href="/information.html" class="nav-link">Nuestras terapias</a></li>
                        <li class="nav-item"><a href="/contact.html" class="nav-link">Contáctanos</a></li>
                        <li class="nav-item"><a href="/donations.html" class="nav-link">Donaciones</a></li>
                    </ul>
                </li>
                {% if request.session.user_email %} {% if request.session.user_rol == 'RP' %}
                <li class="nav-item"><a href="#" class="nav-link">{{ request.session.user_email }}</a>
                    <ul class="sub-menu">
                        <li class="nav-item"><a href="/perfil.html" class="nav-link">Perfil</a></li>
                        <li class="nav-item"><a href="/pacientes.html" class="nav-link">Mis representados</a></li>
                        <li class="nav-item"><a href="/therapies.html" class="nav-link">Terapias Grupales</a></li>
                        <li class="nav-item"><a href="/logout/" class="nav-link">Cerrar Sesión</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item"><a href="#" class="nav-link">{{ request.session.user_email }}</a>
                    <ul class="sub-menu">
                        <li class="nav-item"><a href="/perfil.html" class="nav-link">Perfil</a></li>
                        <li class="nav-item"><a href="/pacientes.html" class="nav-link">Mis Pacientes</a></li>
                        <li class="nav-item"><a href="/report.html" class="nav-link">Reportes</a></li>
                        <li class="nav-item"><a href="/therapies.html" class="nav-link">Terapias Grupales</a></li>
                        <li class="nav-item"><a href="/logout/" class="nav-link">Cerrar Sesión</a></li>
                    </ul>
                </li>
                {% endif %} {% else %}
                <li class="nav-item"><a href="/login.html" class="nav-link">Iniciar Sesión</a></li>
                <li class="nav-item"><a href="/registro.html" class="nav-link">Registrarse</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<style>
    .mb-5,
    .my-5 {
        margin-bottom: 0px !important;
    }
    
    .block-21 .logo {
        width: 130px !important;
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    
    .ftco-navbar-light .navbar-nav>.nav-item .nav-link:hover {
        font-weight: bold;
    }
    
    @media (max-width: 991.98px) {
        .ftco-navbar-light .navbar-nav {
            padding-bottom: 10px;
        }
        .ftco-navbar-light .navbar-nav>.nav-item>.nav-link {
            padding-left: 0;
            padding-right: 0;
            padding-top: .9rem;
            padding-bottom: .9rem;
            color: rgba(255, 255, 255, 0.7);
        }
        .ftco-navbar-light .navbar-nav>.nav-item>.nav-link:hover {
            color: #fff;
        }
        .ftco-navbar-light {
            background: #000000 !important;
            position: relative;
            top: 0;
            padding: 10px 15px;
        }
        .sub-menu {
            background: none;
        }
    }
    
    .sub-menu li a {
        color: black !important;
        text-decoration: none;
        display: block;
    }
    
    .sub-menu {
        display: none;
        position: absolute;
        background-color: #ffffff;
        padding: 10px 15px;
        list-style: none;
        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
            padding-top: .9rem;
            padding-bottom: .9rem;
            color: rgba(255, 255, 255, .7);
            &:hover {
                color: $white;
            }
        }
    }
    
    .navbar-nav li:hover>.sub-menu {
        display: block;
    }
</style>